$font-p: 1.6rem;
$font-span: 1.4rem;
$font-h3: 2.8rem;
$font-h4: 2.2rem;
$font-h6: 1.7rem;

$color-primary: #1a5bc2;
$color-secondary: #2d6dd3;
$color-neutra: #cacaca;
$color-font: #494949;
$color-white: #fff;

.container-secondary {
  max-width: 700px;
  width: 90%;
  padding: 30px 50px;

  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 568px) {
  .container-secondary {
    padding: 25px;
  }
}
