@mixin prop-alerts() {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  font-style: italic;

  border: 1px solid;
  margin: 10px 0px;
  padding: 10px;

  i {
    font-size: 22px;
  }
}

.error {
  @include prop-alerts();
  color: #d8000c;
  background-color: #ffbaba;
}

.warning {
  @include prop-alerts();
  color: #9f6000;
  background-color: #feefb3;
}
