$font-p: 1.6rem;
$font-span: 1.4rem;
$font-h3: 2.8rem;
$font-h4: 2.2rem;
$font-h6: 1.7rem;

$color-primary: #1a5bc2;
$color-secondary: #2d6dd3;
$color-neutra: #cacaca;
$color-font: #494949;
$color-white: #fff;

@mixin props-font-result() {
  color: $color-font;
  font-style: italic;
  font-weight: 400;
}

.title-result {
  position: relative;
  margin-bottom: 25px;

  h4 {
    font-size: $font-h4;
    color: $color-primary;
    text-transform: capitalize;
  }

  span {
    font-size: $font-span;
    @include props-font-result();
  }

  &::before {
    content: '';
    position: absolute;

    width: 100%;

    border-top: 1.5px solid $color-neutra;
    margin-top: 6rem;
  }
}

.description {
  margin-bottom: 15px;

  color: $color-font;
  font-size: $font-p;

  span {
    color: $color-primary;
    font-weight: 600;
  }
}

.container-result {
  .meanings {
    border-left: 4px solid $color-primary;
    padding-left: 15px;
    padding-block: 5px;
    border-radius: 10px;
  }
  .meanings::-webkit-scrollbar {
    width: 0px;
  }
  h5 {
    font-size: $font-h4;
    @include props-font-result;
  }
  h6 {
    font-size: $font-h6;
    font-weight: 500;
    font-style: oblique;

    margin-bottom: 15px;
    padding-left: 10px;
  }
}

@media (max-width: 568px) {
  .container-result {
    .meanings {
      max-height: 250px;
      overflow-y: auto;
    }
  }
}
